### Agreegate

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import (col, sum as sparkSum)

In [4]:
spark = SparkSession.builder.appName("factsales2").getOrCreate()

In [5]:
fact_sales = spark.read.parquet("spark-warehouse/fact_sales")

In [6]:
dim_store = spark.read.parquet("spark-warehouse/dim_store")

In [12]:
fact_sales2 = fact_sales.join(
    dim_store,
    fact_sales.StoreKey == dim_store.StoreKey,
    "inner"
)

In [13]:
fact_sales2.show()

+---------+---------+--------+----------+----------+--------+-----------+----------+------+------+---------+--------+
|UnitsSold|UnitPrice|Discount|  SaleDate|ProductKey|StoreKey|EmployeeKey|NetRevenue|Region|  Name|     Type|StoreKey|
+---------+---------+--------+----------+----------+--------+-----------+----------+------+------+---------+--------+
|     12.0|      0.0|     5.0|2022-12-14|        12|       7|         21|       0.0|  East|StoreX|Franchise|       7|
|      0.0|   272.49|     0.0|2023-02-24|         0|       9|         11|       0.0|  East|StoreZ|Franchise|       9|
|      0.0|   484.75|    15.0|2025-03-24|         7|      18|         14|       0.0| South|StoreX|   Retail|      18|
|      0.0|   205.74|    10.0|2023-09-30|         1|      12|         13|       0.0|  West|StoreY|   Outlet|      12|
|     46.0|    20.25|     5.0|2022-10-14|        15|      19|          2|   884.925|  East|StoreZ|   Outlet|      19|
|      0.0|   361.06|    10.0|2024-02-23|        15|       1|          2|       0.0| South|StoreY|   Retail|       1|
|     37.0|   492.65|     5.0|2024-05-06|        14|      15|          9|17316.6475| South|StoreY|   Outlet|      15|
|     37.0|   293.87|    15.0|2023-04-04|        22|       8|         22| 9242.2115| South|StoreX|   Outlet|       8|
|     23.0|   189.47|    15.0|2022-12-26|        21|       1|          3| 3704.1385| South|StoreY|   Retail|       1|
|     25.0|   359.08|    10.0|2022-10-28|        12|       9|          1|    8079.3|  East|StoreZ|Franchise|       9|
|      0.0|   438.28|     0.0|2025-05-12|        10|       6|          2|       0.0| South|StoreZ|   Retail|       6|
|      0.0|      0.0|     0.0|2024-11-14|         4|       4|         17|       0.0| North|StoreZ|   Retail|       4|
|      0.0|   490.01|     0.0|2025-05-20|         8|       3|         16|       0.0| North|StoreX|   Outlet|       3|
|     15.0|   139.58|     5.0|2023-11-09|        11|       2|         19|  1989.015|  East|StoreX|   Retail|       2|
|      0.0|    67.66|    15.0|2025-03-27|        17|      16|         23|       0.0|  West|StoreY|Franchise|      16|
|     19.0|    330.2|    10.0|2022-12-16|        20|       7|         12|   5646.42|  East|StoreX|Franchise|       7|
|      7.0|   290.63|    15.0|2022-07-28|        15|      16|         15| 1729.2485|  West|StoreY|Franchise|      16|
|      7.0|   349.27|    10.0|2022-07-04|        18|       0|          4|  2200.401| North|StoreY|   Outlet|       0|
|      0.0|   267.61|     0.0|2022-11-27|        16|       9|          2|       0.0|  East|StoreZ|Franchise|       9|
|     41.0|    52.57|     0.0|2025-03-16|        13|      19|         18|   2155.37|  East|StoreZ|   Outlet|      19|
+---------+---------+--------+----------+----------+--------+-----------+----------+------+------+---------+--------+
only showing top 20 rows

In [21]:
total_revenue_by_store_region = fact_sales2.groupBy("Region") \
    .agg(sparkSum(col("UnitsSold")).alias("TotalUnitSold"), sparkSum(col("NetRevenue")).alias("TotalRevenue")) \
    .select([col("Region").alias("StoreRegion"),"TotalUnitSold", "TotalRevenue"])

In [22]:
total_revenue_by_store_region.show()

+-----------+-------------+------------------+
|StoreRegion|TotalUnitSold|      TotalRevenue|
+-----------+-------------+------------------+
|      South|        156.0|53107.997500000005|
|       East|        158.0|          18755.03|
|       West|          7.0|         1729.2485|
|      North|         64.0|         17629.491|
+-----------+-------------+------------------+

In [20]:
dim_employee = spark.read.parquet("spark-warehouse/dim_employee")

In [24]:
total_revenue_by_employee = fact_sales2.join(
    dim_employee,
    fact_sales.EmployeeKey == dim_employee.EmployeeKey,
    "inner"
).groupBy("SalesRep") \
    .agg(sparkSum(col("UnitsSold")).alias("TotalUnitSold"), sparkSum(col("NetRevenue")).alias("TotalRevenue")) \
    .select(["SalesRep", "TotalUnitSold", "TotalRevenue"])

In [25]:
total_revenue_by_employee.show()

+--------------+-------------+------------+
|      SalesRep|TotalUnitSold|TotalRevenue|
+--------------+-------------+------------+
|Wendy Castillo|         69.0|   4589.0635|
|  James Austin|         41.0|     2155.37|
|   John Harris|         78.0|  28929.8975|
|      Kyle Lin|          0.0|         0.0|
|    Kara Lewis|          0.0|         0.0|
| Emily Vazquez|         34.0|    7635.435|
|   Billy Perez|         59.0|     22845.0|
|   Kelly Moore|          0.0|         0.0|
|Charles Fields|         85.0|  23337.7525|
|   Martha Long|         19.0|   1729.2485|
+--------------+-------------+------------+